.container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.container {
    text-align: center;
}

.login {
    display: inline-block;
    vertical-align: middle;
    width: 400px;
    margin-bottom: 150px;
}

input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
    font-size: 18px;
}

select {
    height: 47px;
    padding-left: 20px;
}

button {
    width: 100%;
    background-color: #008CBA;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #00ACCA;
}

.title {
    font-size: 36px;
    font-family: Arial, serif;
    padding-bottom: 30px;
}

.label {
    font-size: 20px;
    font-family: Arial, serif;
}

.errorMessage {
    text-align: center;
    font-size: 20px;
    font-family: Arial, serif;
    color: red;
    font-weight: bold;
}