.container {
    width: 100%;
    height: 165px;
    margin-top: 40px;
}

h1 {
    text-align: center;
    font-size: 400%;
}

#Attention {
    font-style: italic;
    font-size: 350%;
}

#Documents {
    font-style: italic;
    font-size: 300%;
    margin-top: -20px;
}

#Information {
    width: 100%;

}

#Navigation {
    position: fixed;
    left: 40px;
    bottom: 10px;
}

#Navigation:nth-last-child {
    margin-bottom: 0;
}

.btn {
    border: none;
    padding: 16px 32px;
    background-color: #008CBA;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    width: 266px;
}

.btn:hover {
    background-color: #00ACCA;
}

.currentQueue {
    font-size: 18px;
    border: 1px solid #0B5FA5;
    padding: 16px 32px;
    /*width: 200px;*/
    margin-left: 40px;
}

.next-btn {
    margin-top: 75px;
    width: 500px;
    padding: 20px 32px;
    font-size: 20px;
}

td {
    text-align: center;
}

.queueInfo {
    width: 100%;
    margin: auto;
}